* {
    margin: 0;
    padding: 0;
}

.gallery {
    margin: 90px auto;
    height: 450px;
    width: 85%;
    white-space: nowrap;
    overflow-x: scroll;
    display: block;
}

.slide {
    height: 100%;
    width: 100%;
    animation: scrolling 13s ease-in-out infinite alternate;
}

@keyframes scrolling {
    0%    { transform: translateX(0); }
    10%   { transform: translateX(0);}
    90%   { transform: translateX(-400%);}
    100%  { transform: translateX(-400%);}
}

.slide:hover {
    animation-play-state: paused;
}

.img {
    height: 100%;
    width: 100%;
    display: inline-block;
}


.img > img {
    height: 100%;
    width: 100%;
}

